[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/vendor/start/vim-prettier"]
	path = .vim/pack/vendor/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/vendor/start/vim-obsession"]
	path = .vim/pack/vendor/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/pack/vendor/start/vim-commentary"]
	path = .vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/vim-bufkill"]
	path = .vim/pack/vendor/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/ctrlp.vim"]
	path = .vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/vendor/start/clever-f.vim"]
	path = .vim/pack/vendor/start/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule ".vim/pack/vendor/start/ack.vim"]
	path = .vim/pack/vendor/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/vendor/start/vim-terraform"]
	path = .vim/pack/vendor/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/vendor/start/coc.nvim"]
	path = .vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
