# This is Git's per-user configuration file.
[user]
	name = Jeremy Walker
	email = jez.walker@gmail.com
[core]
	excludesfile = /Users/iHiD/.gitignore_global
[init]
	templatedir = ~/.git_template
[advice]
	detachedHead = false
[pull]
	ff = only
